  <form action="{{ path('Blog_C') }}">
    <label for="title">Blog Title:</label><br>
    <input type="text" id="title" name="title" ><br>
    <label for="des">Description:</label><br>
    <input type="text" id="des" name="des" ><br><br>
    <label for="authorName">Author Name:</label><br>
    <input type="text" id="authorName" name="authorName" ><br><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" ><br><br>
    <input type="submit" value="Submit" >
</form> 