<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <P>What if a writer or novelist decided to write a 300-page book with 
            no breaks in the text for new ideas, new chapters, or even character dialogue? 
            It would be so overwhelming that the reader would probably take one look and 
            close the book forever. When writing is divided up into manageable parts that 
            are cohesive, it's much easier for the reader to take in and process. A paragraph 
            is a distinct segment of writing, often includes more than one sentence, and 
            is separated from other paragraphs and text by a space.</P>
            <P>AUTHOR NAME - DR.Richerd</P>
            <p>price - R.S.1200</p>

    </div>
</body>
</html>