
{% block body %}

<h1>My Blogs</h1>
  <ul>
        {% for post in userPosts %}
            <li>
                <a href="{{ path('blog_view', { 'id': post.id }) }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}